EXAMEN PRIMER CORTE:

In [1]:
# Apagar warnings en importacion de datos
import warnings
warnings.simplefilter('ignore', FutureWarning)
# Importa la libreria pandas
from pandas import *
import re

In [2]:
data = read_csv('xmart.csv')
data

,Country,Year,"Number of deaths due to tuberculosis, excluding HIV",Deaths due to tuberculosis among HIV-negative people (per 100 000 population)
0,Afghanistan,2019,9800 [5900-15000],26 [15-39]
1,Afghanistan,2018,11000 [6400-16000],29 [17-44]
2,Afghanistan,2017,11000 [6400-16000],30 [18-45]
3,Afghanistan,2016,12000 [7100-18000],34 [20-51]
4,Afghanistan,2015,13000 [8000-20000],39 [23-59]
...,...,...,...,...
3832,Zimbabwe,2004,3400 [1400-6200],28 [12-52]
3833,Zimbabwe,2003,3300 [1400-6100],28 [12-51]
3834,Zimbabwe,2002,2900 [1200-5400],24 [9.90-45]
3835,Zimbabwe,2001,3100 [1300-5800],26 [11-49]
3836,Zimbabwe,2000,3400 [1300-6400],28 [11-54]

In [3]:
limpiar =  data[(data['Year']<2019)].index
data.drop(limpiar, inplace=True)
data

,Country,Year,"Number of deaths due to tuberculosis, excluding HIV",Deaths due to tuberculosis among HIV-negative people (per 100 000 population)
0,Afghanistan,2019,9800 [5900-15000],26 [15-39]
20,Albania,2019,8 [4-14],0.29 [0.15-0.48]
40,Algeria,2019,2800 [1800-4100],6.60 [4.20-9.50]
60,Andorra,2019,0 [0-1],0.61 [0.38-0.91]
80,Angola,2019,17000 [10000-26000],53 [32-80]
...,...,...,...,...
3737,Venezuela (Bolivarian Republic of),2019,750 [720-770],2.60 [2.50-2.70]
3757,Viet Nam,2019,9400 [5900-14000],9.80 [6.10-14]
3777,Yemen,2019,1900 [1300-2600],6.50 [4.60-8.80]
3797,Zambia,2019,5900 [3500-9000],33 [20-50]
3817,Zimbabwe,2019,1700 [1100-2400],11 [7.40-16]

In [4]:
data.set_index('Country', inplace=True)
data.rename(columns={'Number of deaths due to tuberculosis, excluding HIV':'Cant. Muertes total',
					 'Deaths due to tuberculosis among HIV-negative people (per 100 000 population)':'Cant. Muertes 100mil'}, inplace=True)
data

,Year,Cant. Muertes total,Cant. Muertes 100mil
Country,,,
Afghanistan,2019,9800 [5900-15000],26 [15-39]
Albania,2019,8 [4-14],0.29 [0.15-0.48]
Algeria,2019,2800 [1800-4100],6.60 [4.20-9.50]
Andorra,2019,0 [0-1],0.61 [0.38-0.91]
Angola,2019,17000 [10000-26000],53 [32-80]
...,...,...,...
Venezuela (Bolivarian Republic of),2019,750 [720-770],2.60 [2.50-2.70]
Viet Nam,2019,9400 [5900-14000],9.80 [6.10-14]
Yemen,2019,1900 [1300-2600],6.50 [4.60-8.80]
Zambia,2019,5900 [3500-9000],33 [20-50]
Zimbabwe,2019,1700 [1100-2400],11 [7.40-16]

In [5]:
data['Cant. Muertes total'] = data['Cant. Muertes total'].str.extract(r"(^\d+)")
data['Cant. Muertes total'] = to_numeric(data['Cant. Muertes total'])
data

,Year,Cant. Muertes total,Cant. Muertes 100mil
Country,,,
Afghanistan,2019,9800,26 [15-39]
Albania,2019,8,0.29 [0.15-0.48]
Algeria,2019,2800,6.60 [4.20-9.50]
Andorra,2019,0,0.61 [0.38-0.91]
Angola,2019,17000,53 [32-80]
...,...,...,...
Venezuela (Bolivarian Republic of),2019,750,2.60 [2.50-2.70]
Viet Nam,2019,9400,9.80 [6.10-14]
Yemen,2019,1900,6.50 [4.60-8.80]
Zambia,2019,5900,33 [20-50]
Zimbabwe,2019,1700,11 [7.40-16]

In [6]:
data['Cant. Muertes 100mil'] = data['Cant. Muertes 100mil'].str.extract(r"(.*\d\s)")
data['Cant. Muertes 100mil'] = to_numeric(data['Cant. Muertes 100mil'])
data

,Year,Cant. Muertes total,Cant. Muertes 100mil
Country,,,
Afghanistan,2019,9800,26.00
Albania,2019,8,0.29
Algeria,2019,2800,6.60
Andorra,2019,0,0.61
Angola,2019,17000,53.00
...,...,...,...
Venezuela (Bolivarian Republic of),2019,750,2.60
Viet Nam,2019,9400,9.80
Yemen,2019,1900,6.50
Zambia,2019,5900,33.00
Zimbabwe,2019,1700,11.00

In [7]:
population = round(data['Cant. Muertes total'] * 100 / data['Cant. Muertes 100mil'])
data['Poblacion (1000s)'] = population
data

,Year,Cant. Muertes total,Cant. Muertes 100mil,Poblacion (1000s)
Country,,,,
Afghanistan,2019,9800,26.00,37692.0
Albania,2019,8,0.29,2759.0
Algeria,2019,2800,6.60,42424.0
Andorra,2019,0,0.61,0.0
Angola,2019,17000,53.00,32075.0
...,...,...,...,...
Venezuela (Bolivarian Republic of),2019,750,2.60,28846.0
Viet Nam,2019,9400,9.80,95918.0
Yemen,2019,1900,6.50,29231.0
Zambia,2019,5900,33.00,17879.0
Zimbabwe,2019,1700,11.00,15455.0

In [8]:
data = data.fillna(value=0)
data.sort_values('Cant. Muertes total')

,Year,Cant. Muertes total,Cant. Muertes 100mil,Poblacion (1000s)
Country,,,,
San Marino,2019,0,0.00,0.0
Monaco,2019,0,0.00,0.0
Cook Islands,2019,0,1.10,0.0
Andorra,2019,0,0.61,0.0
Niue,2019,0,0.00,0.0
...,...,...,...,...
Pakistan,2019,42000,19.00,221053.0
Democratic Republic of the Congo,2019,43000,49.00,87755.0
Indonesia,2019,92000,34.00,270588.0
Nigeria,2019,127000,63.00,201587.0
India,2019,436000,32.00,1362500.0

In [9]:
data.sort_values('Cant. Muertes 100mil')

,Year,Cant. Muertes total,Cant. Muertes 100mil,Poblacion (1000s)
Country,,,,
San Marino,2019,0,0.00,0.0
Seychelles,2019,0,0.00,0.0
Monaco,2019,0,0.00,0.0
Niue,2019,0,0.00,0.0
Armenia,2019,1,0.03,3333.0
...,...,...,...,...
Somalia,2019,10000,66.00,15152.0
Guinea-Bissau,2019,1400,72.00,1944.0
Gabon,2019,1800,84.00,2143.0
Timor-Leste,2019,1100,88.00,1250.0
Central African Republic,2019,4600,98.00,4694.0

In [10]:
data['Cant. Muertes total'].sum()

1186354

In [11]:
data['Cant. Muertes total'].describe()

count       193.000000
mean       6146.911917
std       33694.105029
min           0.000000
25%          23.000000
50%         290.000000
75%        2000.000000
max      436000.000000
Name: Cant. Muertes total, dtype: float64