EXAMEN PRIMER CORTE:

In [9]:
# Apagar warnings en importacion de datos
import warnings
warnings.simplefilter('ignore', FutureWarning)
# Importa la libreria pandas
from pandas import *
import re

In [2]:
data = read_csv('xmart.csv')
data

,Country,Year,"Number of deaths due to tuberculosis, excluding HIV",Deaths due to tuberculosis among HIV-negative people (per 100 000 population)
0,Afghanistan,2019,9800 [5900-15000],26 [15-39]
1,Afghanistan,2018,11000 [6400-16000],29 [17-44]
2,Afghanistan,2017,11000 [6400-16000],30 [18-45]
3,Afghanistan,2016,12000 [7100-18000],34 [20-51]
4,Afghanistan,2015,13000 [8000-20000],39 [23-59]
...,...,...,...,...
3832,Zimbabwe,2004,3400 [1400-6200],28 [12-52]
3833,Zimbabwe,2003,3300 [1400-6100],28 [12-51]
3834,Zimbabwe,2002,2900 [1200-5400],24 [9.90-45]
3835,Zimbabwe,2001,3100 [1300-5800],26 [11-49]
3836,Zimbabwe,2000,3400 [1300-6400],28 [11-54]

In [3]:
limpiar =  data[(data['Year']<2019)].index
data.drop(limpiar, inplace=True)
data

,Country,Year,"Number of deaths due to tuberculosis, excluding HIV",Deaths due to tuberculosis among HIV-negative people (per 100 000 population)
0,Afghanistan,2019,9800 [5900-15000],26 [15-39]
20,Albania,2019,8 [4-14],0.29 [0.15-0.48]
40,Algeria,2019,2800 [1800-4100],6.60 [4.20-9.50]
60,Andorra,2019,0 [0-1],0.61 [0.38-0.91]
80,Angola,2019,17000 [10000-26000],53 [32-80]
...,...,...,...,...
3737,Venezuela (Bolivarian Republic of),2019,750 [720-770],2.60 [2.50-2.70]
3757,Viet Nam,2019,9400 [5900-14000],9.80 [6.10-14]
3777,Yemen,2019,1900 [1300-2600],6.50 [4.60-8.80]
3797,Zambia,2019,5900 [3500-9000],33 [20-50]
3817,Zimbabwe,2019,1700 [1100-2400],11 [7.40-16]

In [4]:
data.set_index('Country', inplace=True)
data.rename(columns={'Number of deaths due to tuberculosis, excluding HIV':'Cant. Muertes total',
					 'Deaths due to tuberculosis among HIV-negative people (per 100 000 population)':'Cant. Muertes 100mil'}, inplace=True)
data

,Year,Cant. Muertes total,Cant. Muertes 100mil
Country,,,
Afghanistan,2019,9800 [5900-15000],26 [15-39]
Albania,2019,8 [4-14],0.29 [0.15-0.48]
Algeria,2019,2800 [1800-4100],6.60 [4.20-9.50]
Andorra,2019,0 [0-1],0.61 [0.38-0.91]
Angola,2019,17000 [10000-26000],53 [32-80]
...,...,...,...
Venezuela (Bolivarian Republic of),2019,750 [720-770],2.60 [2.50-2.70]
Viet Nam,2019,9400 [5900-14000],9.80 [6.10-14]
Yemen,2019,1900 [1300-2600],6.50 [4.60-8.80]
Zambia,2019,5900 [3500-9000],33 [20-50]
Zimbabwe,2019,1700 [1100-2400],11 [7.40-16]

In [29]:
data['Cant. Muertes total'] = data['Cant. Muertes total'].str.extract(r"(^\d+)")
data

,Year,Cant. Muertes total,Cant. Muertes 100mil
Country,,,
Afghanistan,2019,9800,26 [15-39]
Albania,2019,8,0.29 [0.15-0.48]
Algeria,2019,2800,6.60 [4.20-9.50]
Andorra,2019,0,0.61 [0.38-0.91]
Angola,2019,17000,53 [32-80]
...,...,...,...
Venezuela (Bolivarian Republic of),2019,750,2.60 [2.50-2.70]
Viet Nam,2019,9400,9.80 [6.10-14]
Yemen,2019,1900,6.50 [4.60-8.80]
Zambia,2019,5900,33 [20-50]
Zimbabwe,2019,1700,11 [7.40-16]

'9'